.P6MRDb {
    background-image: url("./assets/P6MRDb.png");
}
.facilitymanagement {
    background-image: url("./assets/facilitymanagement.png");
}
.barhoppers {
    background-image: url("./assets/barhoppers.png");
}
.jsquiz {
    background-image: url("./assets/jsquiz.png");
}
.emptrack {
    background-image: url("./assets/emptrack.png");
}
.fittrack {
    background-image: url("./assets/fittrack.png");
}